<!DOCTYPE html>
<html>
<body style="margin:0; padding:0; font-size:12px; width:100%;">

    <!-- Horizontal Line -->
    <hr style="margin:0; border:0; border-top:1px solid #919191;" />

    <!-- Container Table (wkhtmltopdf safe) -->
    <table style="width:100%; border-collapse:collapse;">
        <tr>
            <!-- Left -->
            <td style="width:33%; text-align:left;">
                <strong>Ezhil{{.LeftText}}</strong><br>
                {{.LeftSub}}
            </td>

            <!-- Center -->
            <td style="width:34%; text-align:center;">
                <strong>Ezhil{{.CenterText}}</strong><br>
                {{.CenterSub}}
            </td>

            <!-- Right -->
            <td style="width:33%; text-align:right;">
                <strong>Ezhil{{.RightText}}</strong><br>
                {{.RightSub}}
            </td>
        </tr>
        <tr>
            <!-- Left -->
            <td style="width:33%; text-align:left;">
                <strong>{{.LeftText}}</strong><br>
                {{.LeftSub}}
            </td>

            <!-- Center -->
            <td style="width:34%; text-align:center;">
                <strong>Thanks</strong><br>
                {{.CenterSub}}
            </td>

            <!-- Right -->
            <td style="width:33%; text-align:right;">
                <strong>{{.RightText}}</strong><br>
                {{.RightSub}}
            </td>
        </tr>
        
        
    </table>

    

</body>
</html>